{% extends 'base.html' %}
{% block content %}

    <h1>Login</h1>
    <p>You can login with username: '<strong>testuser</strong>' and password: '<strong>password</strong>'</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success mt-3" type="submit" value="Login">
    </form>

    <p class="d-flex justify-content-center mt-4">Not a user?? <a href="{% url 'register' %}">Register here</a></p>

    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}


{% endblock %}
