{% extends 'base.html' %}
{% block content %}

    <h1>Register</h1>

    <form method="POST">
        {% csrf_token %}
        <label>{{ form.username.label }}</label>
        {{ form.username }}
        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}
        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
        <br>
        <input class="btn btn-success mt-3" type="submit" value="Register">
    </form>

    <p class="d-flex justify-content-center mt-4">Already registered? <a href="{% url 'login' %}">Login here</a></p>

{% endblock %}
