{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col">
        <h2>Hello {{ request.user|title }}</h2>
      </div>

<!-- search bar -->
      <div class="col d-flex justify-content-end p-1">
        <form class="row g-3">
            <div class="col-auto">
              <input type="text" class="form-control" name="search_tasks" value="{{ search_tasks }}" placeholder="Search your tasks here">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </form>
      </div>
    </div>


    <p>You have {{count}} incomplete task{{ count|pluralize:'s'}}.</p>
    <form action="{% url 'create_task' %}">
        <input type="submit" class="btn btn-success mb-3" value="Add a new Task" />
    </form>

</div>

<!-- task list -->
<ol class="list-group list-group-numbered">
    {% for item in tasklist %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        {% if item.is_completed %}
      <div class="ms-2 me-auto">
        <a class="text-decoration-none" href="{% url 'update_task' item.id %}"><div class="fw-bold"><del>{{item.task}}</del></div></a>
      </div>
        {% else %}
        <div class="ms-2 me-auto">
            <a class="text-decoration-none" href="{% url 'update_task' item.id %}"><div class="fw-bold">{{item.task}}</div></a>
            {{item.description}}
        </div>
        {% endif %}
      <a href="{% url 'delete_task' item.id %}"><span class="badge bg-danger rounded-pill">&#10005;</span></a>
    </li>
    {% endfor %}
</ol>

{% endblock %}